.container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: white;
  border-radius: 1.875rem;
  width: 90vw;
  padding: 0.813rem 2.5em;
  border-radius: 0px 0px 1.563rem 1.563rem;
  z-index: 10;
}

.content{
  display: flex;
  gap: 6rem;
}

.liText{
  color: rgba(0, 0, 0, 0.6);
  font-weight: 700;
  font-size: 1rem;
  line-height: 157%;
  cursor: pointer;
  transition: all ease-in-out .4s;
}

.liText:hover{
  color: brown;
}

@media (max-width: 700px) {
  .content{
    display: flex;
    gap: 2rem;
  }
}

@media (max-width: 520px) {
  .content{
    gap: 3rem;
  }
}

@media (max-width: 470px) {
  .content{
    gap: 1.5rem;
  }
}

@media (max-width: 350px) {
  .liText{
    font-size: 0.875rem;
  }
}