.containerLastProjects{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80vw;
  margin-top: 4.023rem;
}

.titleLastProjects{
  font-size: 28px;
  font-weight: 600;
  color: white;
  margin-bottom: 24px;
  padding-top: 4.188rem;
}

.contentCardProjects{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 25px;
}

.containerMoreProject{
  margin-top: 20px;
  align-self: flex-end;
}

.linkMoreProjects{
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  font-weight: 600;
  color: #211b12e5;
}

.linkMoreProjects:hover{
  cursor: pointer;
}

