.containerSkills{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80vw;
  margin-top: 60px;
}

.titleSkill{
  color: white;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 30px;
}

.contentSkill{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 25px;
}

.cardSkill{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.spanSkill{
  color: rgba(0, 0, 0, 0.6);
  font-size: 18px;
  font-weight: 600;
}